<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pagin.azul">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/round_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".onphasesecond.activity.MenuActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name=".onphasesecond.activity.ProductDetails"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onphasesecond.activity.ScheduleMyCart"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onphasesecond.activity.MenuFilterActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onphasesecond.activity.ViewAllListing"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onphasesecond.activity.MyOrdersActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onphasesecond.activity.CustomerStoriesActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onphasesecond.activity.SubOfferActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".onphasesecond.activity.OffersActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onphasesecond.activity.ProductActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".onphasesecond.activity.SubCategoryActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".onphasesecond.activity.GroceryDetails"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onphasesecond.activity.FilterActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onphasesecond.activity.ShareReviwsActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".onphasesecond.activity.MyFavoritesActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onphasesecond.activity.RatingAndReviewActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onphasesecond.activity.RestaurantDetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".onphasesecond.activity.MyCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onphasesecond.activity.FoodAndGroceryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".onphasesecond.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProviderDetailsAct"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SearchCategoryAct"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeServicesCategoryAct"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DialogActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MessageProfessionalActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShareLocationActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NormalMessageTrackActivity"
            android:configChanges="locale|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.DeliveryMessageTrackActivity"
            android:configChanges="locale|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activities.NormalAllOfferActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DeliveryMakeOfferActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OfferScreenActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MapCategoryListActivity"
            android:configChanges="locale|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activities.MapCategoriesShowActivity"
            android:configChanges="locale|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activities.NUMessageDeliveryPersonActivity"
            android:configChanges="locale|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.AddNewAddress"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CommonWebpage"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContactActivity"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreateInvoiceActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NUProfessionalWorkerDashboardActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RequireProfessionalWorkerActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThemeStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".utils.TakeImage" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <activity
            android:name=".activities.MyProfile"
            android:configChanges="locale|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.UpdatePhone"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContactAdmin"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignUpOptions"
            android:configChanges="locale|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignUp"
            android:configChanges="locale|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.SignIn"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeOfferDetailsActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TakeTourActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThemeStatusBarTakeTour" />
        <activity
            android:name=".activities.TermsConditionActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThemeStatusBar" />
        <activity
            android:name=".activities.MapProfessinalWorkerActivity"
            android:configChanges="locale|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activities.UserDetailsActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NavDrawerActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChangeLanguageActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ManageAddressActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyRate"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CaptionProfileActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyWallet"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddMoney"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddNewBank"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BankToBankTransfer"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddCard"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WalletManageCard"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WalletManagerCardPay"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PayYourCredit"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BecomeProfessionalWorkerActivity"
            android:configChanges="locale|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.MyOrderDashboardActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeMyOrderDashboardActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DeliveryWorkerOrderDashboardActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfessionalWorkerOrderDashboardActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RequireDeliveryPersonDashboardActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BecomeDeliveryPersonActivity"
            android:configChanges="locale|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.ProvideServiceProffOfferActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ViewAllOffersActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CancellationActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.IssuesMyOrderActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MessageActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RatingAndRiviewActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActiveTrackingActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NUDeliveryPersonDashboardActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignUpMobileActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ReportOrderActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PickAddressActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeMainActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OrderDetailsOnMapActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddressPickerAct"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.pagin.azul"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".Firebase.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
<service android:name=".Firebase.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        -->
        <!-- SERVICES -->
        <service
            android:name=".helper.FetchAddressService"
            android:enabled="true"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>